#slider{
    width: 900px;
    height: 600px;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 2%;

}

.position{
    width: 15%;
    min-width: 100px;
    margin-top: 2%;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-large;
}